<div>

  <div
    *ngIf="dataLoaded == false"
    class="spinner-border text-info"
    role="status"
  >
    <span class="visually-hidden">Loading...</span>
  </div>
  <div class="mb-3">
    <label  for="exampleFormControlInput1" class="form-label">Araç ara</label>
    <input type="text" [(ngModel)]="carNameFilter" class="form-control" id="carNameFilter" placeholder="Araç özelliği giriniz">
  </div>
  <div *ngIf="carNameFilter" class="alert alert-primary">
    {{carNameFilter}} aradınız
  </div>

<div class="row ml-0 mr-0">
  <div *ngFor="let car of cars | carFilterPipe:carNameFilter"  class="col-md-4 my-4">
      <div  class="card" style="width: 100%;">
          <img src="{{carImagePath}}{{getCarImage(car)}}" class="card-img-top" alt="Araba Resmi">
          <div class="card-body">
            <h5 class="card-title text-center">{{car.carName}}</h5>
            <hr>
            <p> <b>Brand :</b> {{car.brandName}} </p>
            <hr>
            <p> <b>Model Year :</b> {{car.modelYear}} </p>
            <hr>
            <p> <b>Daily Price :</b> {{car.dailyPrice}} </p>
            <hr>
            <p> <b>Color :</b> {{car.colorName}} </p>
            <p> <b>Description :</b> {{car.description}} </p>
            <hr>
            <div>
              <a   style=" margin-right:100px" routerLink="/cars/car-detail/{{car.carId}}" class="btn btn-outline-none btn-primary ">Detay</a>
              <a  
             
              class="btn btn-outline-none btn-primary  "
              data-bs-toggle="modal"
              data-bs-target="#exampleModal"
            > Aracı Kirala</a>
            </div>

          </div>
        </div>
  </div>
</div>


</div>
