<div>
  <h1>Car List</h1>
  <div
    *ngIf="dataLoaded == false"
    class="spinner-border text-info"
    role="status"
  >
    <span class="visually-hidden">Loading...</span>
  </div>
  <div class="mb-3">
    <label  for="exampleFormControlInput1" class="form-label">Araç ara</label>
    <input type="text" [(ngModel)]="filterText" class="form-control" id="filterText" placeholder="Araç özelliği giriniz">
  </div>
  <div *ngIf="filterText" class="alert alert-primary">
    {{filterText}} aradınız
  </div>

  <div>  
    <table *ngIf="dataLoaded == true" class="table">
    <thead>
      <tr>
        <th>Car Id</th>
        <th>Color Id</th>
        <th>Brand Id</th>
        <th>Model Year</th>
        <th>Daily Price</th>
        <th>Description</th>
      </tr>
    </thead>

    <tr *ngFor="let car of cars">
      <td>{{ car.carId }}</td>
      <td>{{ car.brandId }}</td>
      <td>{{ car.colorId }}</td>
      <td>{{ car.modelYear }}</td>
      <td>{{ car.dailyPrice }}</td>
      <td>{{ car.description }}</td>
    </tr>
  </table>
</div>


</div>
